# Environment files
.env

# Certificate files
*.crt
*.key
*.pem
certs/

# Node.js dependencies
node_modules/

# Log files
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db
